.nav {
  display: flex;
  margin-bottom: 70px;
  justify-content: space-between;

  &__brand {
    svg {
      margin-inline-end: 8px;
    }
  }

  &__brand-name {
    margin-left: 8px;
    font-weight: 600;
    color: var(--secondary-color);
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__link {
    color: var(--secondary-color);
    font-weight: 600;
  }

  &__cart {
    background-color: var(--accent-color);
    color: var(--primary-color);
    border-radius: 50px;
    padding: 2px 8px;
    display: flex;
    align-items: center;

    span {
      margin-left: 10px;
      font-size: 0.9rem;
    }
  }
}
